body{
	margin: 0;
	padding: 0;
	font-family: "calibri light";
}

#linea{
	width: 100%;
	height: 5px;
	background-color: #FCF29C;
}

#header{
	width: 100%;
	height: 115px;
	background-color: #709FB0;
}

#header #centro1{
	width: 800px;
	height: auto; overflow: hidden;
	border: 0px solid;
	margin: auto;
}

#header #centro1 #logo{
	width: 200px; border: 0px solid;
	float: left;
}

.logo{
	width: 100px;
	height: 100px;
	float: left;
}

#header #logo h2{
	color: #FFE05D;
	align-items: center;
	font-family: 'Comic Sans MS';
	font-size: 20px;
}
}

#header #centro1 #logo p{
	margin-top: -20px;
}

#header #menu{
	width: 580px;
	height: auto;
	overflow: hidden;
	border: 0px solid;
	float: right;
	margin-top: 40px;
	text-align: right;
}


#header #menu ul li{
	position: relative;
	display: inline-block;
}

#header #menu ul li a{
	
	color: #070707;
	font-size: 18px;
	text-decoration: none;
	padding: 7px 10px;
	margin: 0px 4px;
}

#logo h1{
	color: #FFE05D;
	font-size: 35px;
}
#header #menu ul li a:hover{
	background-color: #0A2A29;
}

/*presentacion*/

#Presentacion{
	width: 100%;
	height: auto; overflow: hidden;
	background: #C5D4FC;
}

#Presentacion #centro2{
	width: 800px;
	margin: auto;
}

#Presentacion #centro2 #izquierda{
	width: 290px;
	border: 0px solid;
	float: left;
}

#Presentacion #centro2 #izquierda h2{
	color: black;
	font-weight: lighter;
}

.descripcion-pres{
	color: #04850D;
	text-align: left;
}

.boton{
	padding: 5px 20px;
	border-radius: 5px;
	border: 0;
}

.boton:hover{
	background: #e6e6e6;
	color: #0b615e;
}

#Presentacion #centro2 #derecha{
	width: 490px;
	height: auto; float: right;
}

.img{
	width: 300px;
	height: 180px;
	border: 3px solid #088a85;
	margin: 20px 0px;
	float: right;
}


/*contenidos*/
#contenidos{
	background-color: #f2f2f2;
	width: 100%
	height: 100%
}

#contenidos-paginas{
	background: #fff;
	padding: 0px 0px 20px 0px;
}

#contenidos #centro3{
	width: 800px;
	margin: auto; border: 0px solid; height: auto; overflow: hidden;
}

#contenidos #centro3 #izquierda{
	width: 390px;
	height: auto; overflow: hidden;
	border: 0px solid;
	float: left;
}

#contenidos #centro3 #izquierda h3{
	color: #0b615e;
}

#contenidos #centro3 #izquierda .descripcion{
	text-align: left; color: #6e6e6e;
}

.img-servicios{
	width: 120px; height: 100px; display: inline-block;
	padding: 2px; border: 1px solid #ccc;
}

#contenidos #centro3 #derecha{
	width: 390px;
	height: auto; overflow: hidden;
	border: 0px solid;
	float: right;
}

#contenidos #centro3 #derecha h3{
	text-align: left;
	font-size: 22px;
	color: #0b615e;
}

#contenidos #centro3 #derecha article{
	width: 100%;
	height: auto; overflow: hidden;
	margin-top: -20px;
	margin-bottom: 20px;
}

#contenidos #centro3 #derecha article h4{
	text-align: left; font-size: 15px;
}

#contenidos #centro3 #derecha article p{
	color: #6e6e6e; text-align: left;
	margin-top: -22px;

}

.leer-mas{
	padding: 4px 10px;
	background: #086a87;
	text-decoration: none;
	float: left;
	border-radius: 5px;
	color: #fff; border: 0px;
	margin-top: -15px;
}

#footer{
	width: 100%;
	height: 210%;
	background: #C5D4FC;
	color: black;
}

#container-footer-all{
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

#container-body{
	display: flex;
	justify-content: space-between;
}

#colum1{
	max-width: 400px;
}

#colum1 h1{
	font-size: 22px;
}

#colum1 p{
	font-size: 18px;
	color: #3B0501;
	margin-top: 20px;
	text-align: center; 
}

#colum2{
	max-width: 400px;
}

#colum2 h1{
	font-size: 22px;
}

.redes-sociales{
	margin-top: 20px;
}

#redes-sociales img{
	width: 36px;
	height: 36px;
}

#colum3{
	max-width: 400px;
}

#colum3 h1{
	font-size: 22px;
}

#row{
	margin-top: 20px;
}

#row img{
	width: 36px;
	height: 36px;
}

#row label{
	margin-top: 10px;
	margin-left: 20px;
	max-width: 140px;
}

#container-footer{
	width: 96%;
	background: #101010;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	color: white;
}

/*pagina de nosotros*/

#centro3{
	width: 800px;
	margin: auto; border: 0px solid; 
	height: auto; overflow: hidden;
	text-align: center;
}

.encabezados{
	font-family: 'Arial black';
	font-size: 30px;
}

.t1{
	color: #0489B1;
}

.t2{
	color: #0489B1;
}

.descripcion-pagina{
	color: #04090C;
}

.texto-nosotros{
	text-align: left;
}

hr{
	border-top: 1px;
}

.img-nosotros{
	float: left;
	margin-right: 7px;
}

#filosofia{
	height: auto; overflow: hidden;
}

#mision, #vision, #valores{
	width: 220px;
	height: auto; overflow: hidden;
	border: 1px solid #05672F;
	display: inline-block;
	border-radius: 5px;
} 

#vision{
	margin-right: 6px;
	margin-left: 6px;
}

.img-filosofia{
	height: 120px;
}

.texto-mision{
	color: #953B01;
}

.texto-vision{
	color: #953B01;
}

.texto-valores{
	color: #953B01;
}

/*pagina de productos*/

#contenido-categorias{
	background-color: #FFD5CD;
}

.categorias{
	font-family: 'Arial black';
	font-size: 15px;
}

.uno{
	color: #424242;
}

.dos{
	color: #5EBA13;
}

#celulares{
	width: 250px;
	height: 350px;
	border: 1px solid #ccc;
	float: left;
	margin-bottom: 15px;
}

.img-categorias{
	width: 200px;
	height: 250px;
	border-radius: 10%;
	border: 1px solid #03675B;
	padding: 2px;
}

.galaxy{
	margin-left: 15px;
	margin-right: 15px;
}

.huawei{
	margin-left: 15px;
	margin-right: 15px;
}

.h2019{
	margin-left: 15px;
	margin-right: 15px;
}

.iphonepro{
	margin-left: 15px;
	margin-right: 15px;
}

/*pagina de contacto*/

#contenido-contacto{
	background-color: #F8F4D5;
}

#izquierda{
	width: 300px;
	height: auto; overflow: hidden;
	border: 0px solid;
	float: left;
}

.texto-contacto{
	text-align: left;
	color: #4E5504;
}

.email-contacto{
	color: #4E5504;
	text-decoration: none;
}

.email-contacto:hover{
	text-decoration: underline;
}

#derecha{
	width: 490px;
	border: 0px solid;
	height: auto; overflow: hidden;
	float: right;
}

input[type="text"], input[type="email"]{
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
}

textarea{
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
}

.nombre-mensaje{
	width: 95%;
}

.email-asunto{
	width: 45%;
}

input[type="button"]{
	padding: 10px;
	background: #0489B1;
	color: #FFFF;
	border: 1px solid #086a87;
	border-radius: 5px;
}

#mapa{
	width: 100%;
	height: auto; overflow: hidden;
	padding: 20px;
}



/*pagina de servicio tecnico*/

.img-servicio{
	width: 200px;
	height: 150px;
	float: right;
	margin-right: 10px;
}

.descripcion-servicio{
	color: #740A03;
	text-align: center;
}

#contenido-servicio{
	background-color: #F6FCB6;
}

.img-servicio2{
	width: 200px;
	height: 150px;
	float: left;
	margin-right: 10px;
}

.img-herramientas{
	width: 200px;
	height: 150px;
	float: left;
	margin-right: 10px;
}

